* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
}

h1 {
    text-align: center;
    margin: 10px;
    text-decoration: underline 2px;
    color: white;
}

div {
    text-align: center;
    margin: 50px;
    padding: 20px;
    border: solid 1px white;
    border-radius: 15px;
}

#emoji {
    text-align: center;
}